* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}

a{
    text-decoration: none;
    display: block;
}
body {
  font-family: Montserrat, sans-serif;
}

html{
  scroll-behavior: smooth;
}

/* HEADER START */

header {
  background-color: rgba(255, 255, 255, 0.719);
  padding: 5px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.container {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: center;
  padding: 10px;
}
.logo {
  width: 20%;
}
nav {
  width: 80%;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  overflow: hidden;
  /* font-size: 2px; */
}
nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(122, 116, 116);
  font-weight: 600;
  font-size: 16;
  padding: 15px 15px;
}

nav ul li a:hover{
    color: rgb(241, 233, 240);
    background-color: rgba(137, 43, 226, 0.418) ;
    border-radius: 10px;
}

/* HEADER END*/

/* SECTION START */

.yellow {
  background: url("../images/portfolio-item57.jpg") 0% 0% / cover no-repeat
    fixed;
  height: 100vh;
}
.blue {
  background: url("../images/portfolio-item58.jpg") 0% 0% / cover no-repeat
    fixed;
  height: 100vh;
}
.red {
  background: url("../images/portfolio-item59.jpg") 0% 0% / cover no-repeat
    fixed;
  height: 100vh;
}
.green {
  background: url("../images/portfolio-item60.jpg") 0% 0% / cover no-repeat
    fixed;
  height: 100vh;
}
.pink {
  background: url("../images/portfolio-item61.jpg") 0% 0% / cover no-repeat
    fixed;
  height: 100vh;
}
.lemon{
  
  background: url("../images/portfolio-item62.jpg") 0% 0% / cover no-repeat
    fixed;
  height: 100vh;
}
section .container {
  height: 100%;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 173px;
  justify-content: flex-end;
}
section h2 {
  background: white;
  padding: 10px 18px;
  font-weight: 400;
}

section a {
  text-decoration: none;
  color: white;
  background: black;
  padding: 10px 30px;
  font-weight: 400;
}

section .container a:hover {
    color: red;
}

section p {
  color: black;
  padding-bottom: 20px;
  font-size: 14px;
}

.container p {
  font-size: 18px;
}
/* SECTION END */

/* FOOTER START */

footer{
    padding: 10px;
}

.logo{
    width: 20%;
}

.copyright{
    text-align: center;
    width: 60%;
}
.copyright p{
    font-size: 18px;
    line-height: 20px;
    color: #6f6f6f;
    font-weight: 500;
}
.icons{
    width: 20%;
}
.icons ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.icons ul li a{
    list-style: none;
    margin: 0 10px;
    color: #413d3d;
    font-size: 20px;
}

.icons ul li a .fb:hover{
    color: rgb(17, 21, 223);
}

.icons ul li a .tw:hover{
    color: rgb(25, 198, 241);
}
.icons ul li a .gp:hover{
    color: rgb(207, 23, 23);
}
.icons ul li a .lni:hover{
    color: rgb(32, 107, 204);
}

/* FOOTER END */